.shield {
  z-index: 999;
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -86px;
  width: 171px;
  height: 129px;
}

.navbar-text {
  padding-right: 2em;
  border: 1px;
}

.body-container {
  padding-top: 55px;
}
// 75px
